<header>
    <nav class="vertical-nav">
        <div class="logo">Spotify</div>
        <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Browse</a></li>
        <li><a routerLink="/your-library">Your Library</a></li>
        <li class="login-link"><a href="#">Login</a></li>
        </ul>
        </nav>
        <div class="search-box">
        <input type="text" placeholder="Search...">
        <button class="search-button">Search</button>
        </div>
    <div class="user-profile">
        <img src="user-avatar.jpg" alt="User Avatar">
        <span>John Doe</span>
    </div>
</header>

<router-outlet></router-outlet>

<footer>
    <p>&copy; 2023 Spotify</p>
</footer>

