<header>
    <div class="logo">Spotify</div>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Browse</a></li>
            <li><a href="#">Search</a></li>
            <li><a routerLink="/your-library">Your Library</a></li>
            <!-- <button (click)="library()">Your Library</button> -->
        </ul>
    </nav>
    <div class="user-profile">
        <img src="user-avatar.jpg" alt="User Avatar">
        <span>John Doe</span>
    </div>
</header>

<router-outlet></router-outlet>

<footer>
    <p>&copy; 2023 Spotify</p>
</footer>