
header {
    background-color: #1DB954;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

 

.logo {
    font-size: 24px;
    font-weight: bold;
}

 

.vertical-nav {
    background-color: #333;
    color: #fff;
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

 

.vertical-nav ul {
    list-style: none;
    padding: 20px;
}

 

.vertical-nav ul li {
    margin-bottom: 10px;
}

 

.vertical-nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: block;
    transition: 0.3s;
}

 

.vertical-nav ul li a:hover {
    background-color: #1DB954;
    padding: 8px 16px;
    border-radius: 5px;
}

 

.search-box {
    margin-left: 220px;
    padding: 20px;
}

.logo i {
    font-size: 24px; 
    margin-right: 8px; 
}







 

.search-box input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

 

.search-box button {
    background-color: #1DB954;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

.logo a {
    text-decoration: none;
    color: inherit; 
    
}

 

.search-box button:hover {
    background-color: #128935;
}
 

.user-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}



footer {
    text-align: center;
    background-color: #f4f4f4;
    padding: 10px 0;
}

