/* your-library.component.css */

.your-library {
    background-color: #000;
    color: #fff;
    padding: 20px;
    margin-left: 200px
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #fff; /* Adjust text color to match app header */
  }
  
  /* Library buttons */
  .library-buttons {
    display: flex;
    gap: 10px;
  }
  
  .library-button {
    background-color: #1DB954;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .library-button:hover {
    background-color: #128935;
  }
  
  /* Library search */
  .library-search {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
  
  .library-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 5px;
    font-size: 16px;
    color: #000;
    background-color: #fff; /* Adjust background color to match app header */
  }
  
  /* Your Favorite Artists section */
  .your-fav-artists {
    margin-top: 20px;
  }
  
  .your-fav-artists h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff; /* Adjust text color to match app header */
  }
  
  /* Your Playlists section */
  .your-playlists {
    margin-top: 20px;
  }
  
  .your-playlists h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff; /* Adjust text color to match app header */
  }
  